<ngx-spinner bdColor="rgba(0, 0, 0, 0.0)" size="medium" color="#e50914" type="timer"></ngx-spinner>

<div class="row">
  <h2 style="margin-top: -10px;">Season Episodes</h2>
</div>

<mat-dialog-content>
  <div class="row">
    <div class="col-md-8">
      <button type="button" (click)="addNewSeasonEpisode()" style="margin-left: 30px;" class="btn btn-default btn-with-icon">
        Add New Episode
      </button>
    </div>
  </div>

  <br>
  <br>
  <br>

  <div class="col-md-3" *ngFor="let episode of seasonEpisodes" style="min-width: 300px; max-height: 400px;">
    <div class="card card-profile">
      <img src="{{episode.picture}}">

      <div class="card-body">
        <h4 class="card-title line-break">{{episode.name}}</h4>
        <h6 class="card-category">{{episode.seasonName}}</h6>
        <p class="card-description">{{episode.tvShowName}}</p>

        <div class="card-footer text-center">
          <a (click)="edit(episode)" class="btn btn-with-icon btn-outline-info btn-info" style="margin: 20px 5px 10px 5px" data-toggle="tooltip"
            data-placement="bottom" title="Edit">
            <i class="ti-pencil" aria-hidden="true"></i>
          </a>

          <a (click)="delete(episode)" class="btn btn-with-icon btn-outline-danger btn-danger" style="margin: 20px 5px 10px 5px" data-toggle="tooltip"
            data-placement="bottom" title="Delete">
            <i class="ti-trash" aria-hidden="true"></i>
          </a>

          <a (click)="preview(episode)" class="btn btn-with-icon btn-outline-success btn-success" style="margin: 20px 5px 10px 5px"
            data-toggle="tooltip" data-placement="bottom" title="Preview episode">
            <i class="ti-control-play" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>