<ngx-spinner bdColor="rgba(0, 0, 0, 0.0)" size="medium" color="#e50914" type="timer"></ngx-spinner>

<div class="row">
  <button type="button" style="float: right;" (click)="closeEditor()" class="btn btn-default btn-icon">
    <i class="ti-close"></i>
  </button>
</div>

<div class="row">
  <h2 *ngIf="!isEditMode" style="margin-top: -20px;">Add New Movie</h2>
  <h2 *ngIf="isEditMode" style="margin-top: -20px;">Edit Existing Movie</h2>
</div>

<br>

<div class="row">
  <div class="col-sm-10">
    <div class="form-group">
      <label for="movieName">Name</label>
      <input type="text" class="form-control" id="movieName" [(ngModel)]="movieName" placeholder="Movie name">
    </div>
  </div>

  <div class="col-sm-2">
    <button *ngIf="isEditMode" style="margin-top: 25px;" (click)="updateMovieName()" class="btn btn-primary">Update</button>
  </div>
</div>

<div class="row">
  <div class="col-sm-10">
    <div class="form-group">
      <label for="homeScreenPicture">Home Screen Picture</label>
      <input type="file" class="form-control" id="homeScreenPicture">
    </div>
  </div>

  <div class="col-sm-2">
    <button *ngIf="isEditMode" style="margin-top: 25px;" (click)="updateHomeScreenPicture()" class="btn btn-primary">Update</button>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <strong style="color: #e50914; font-size: 13px">NB: Recommended picture size is 200px by 280px (width by height)</strong>
  </div>
</div>

<br>

<div class="row">
  <div class="col-sm-10">
    <div class="form-group">
      <label for="detailsPicture">Details Picture</label>
      <input type="file" class="form-control" id="detailsPicture">
    </div>
  </div>

  <div class="col-sm-2">
    <button *ngIf="isEditMode" style="margin-top: 25px;" (click)="updateDetailsPicture()" class="btn btn-primary">Update</button>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <strong style="color: #e50914; font-size: 13px">NB: Recommended picture size is 800px by 450px (width by height)</strong>
  </div>
</div>

<br>

<div class="row">
  <div class="col-sm-10">
    <div class="form-group">
      <label for="movieYear">Release Year</label>
      <select class="form-control" [(ngModel)]="movieYear">
        <option *ngFor="let year of years" id="movieYear" [ngValue]="year">{{year}}</option>
      </select>
    </div>
  </div>

  <div class="col-sm-2">
    <button *ngIf="isEditMode" style="margin-top: 25px;" (click)="updateMovieReleaseYear()" class="btn btn-primary">Update</button>
  </div>
</div>

<div class="row">
  <div class="col-sm-10">
    <div class="form-group">
      <label for="movieRating">Rating</label>
      <select class="form-control" [(ngModel)]="movieRating">
        <option *ngFor="let rating of ratings" id="movieRating" [ngValue]="rating">{{rating}}</option>
      </select>
    </div>
  </div>

  <div class="col-sm-2">
    <button *ngIf="isEditMode" style="margin-top: 25px;" (click)="updateMovieRating()" class="btn btn-primary">Update</button>
  </div>
</div>

<div class="row">
  <div class="col-sm-10">
    <div class="form-group">
      <label for="movieDescription">Description</label>
      <textarea rows="4" cols="50" class="form-control" id="movieDescription" [(ngModel)]="movieDescription" placeholder="Movie description"></textarea>
    </div>
  </div>

  <div class="col-sm-2">
    <button *ngIf="isEditMode" style="margin-top: 25px;" (click)="updateMovieDescription()" class="btn btn-primary">Update</button>
  </div>
</div>

<div class="row">
  <div class="col-sm-10">
    <div class="form-group">
      <label for="movie">Movie to upload:</label>
      <input type="file" class="form-control" id="movie">
    </div>
  </div>

  <div class="col-sm-2">
    <button *ngIf="isEditMode" style="margin-top: 25px;" (click)="updateMovieVideo()" class="btn btn-primary">Update</button>
  </div>
</div>

<div class="row">
  <div class="col-sm-10">
    <div *ngIf="showProgress" aria-valuemin="0" role="progressbar" class="progress-bar progress-bar-animated progress-bar-striped"
      attr.aria-valuenow="{{progress}}" aria-valuemax="100" [ngStyle]="{width:progress/100 | percent:'1.0-1'}" style=" background-color: #e50914">
      <strong style="color: white">{{progress}}%</strong>
    </div>
  </div>
</div>

<br>

<div class="row">
  <button type="submit" style="float: right;" *ngIf="!isEditMode" (click)="addNewMovie()" class="btn btn-primary">Add Movie</button>
</div>